.title {
    font-size: 3vw;
    color: red;
}

.container {
    background-color: black;
}

.molecule {
    height: 20%;
    width: 20%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 1vw;
    position: absolute;
    animation: moleculeRotation 10s infinite linear;
    -ms-transform-origin-x: 50%;
}

.deform  {
    width: 70vw;
    height: 70vh;
    background-color: lightblue;

    border-radius: 50%;
    margin: 0 auto;
 }
 .rotate {
    width: 100%;
    height: 100%;
    -webkit-animation: circle 10s infinite linear;
    -webkit-transform-origin: 50% 50%;
 }
 .counterrotate {
    width: 50px;
    height: 50px;
    -webkit-animation: ccircle 10s infinite linear;
 }
 .inner {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: red;
    display: block;
 }
 
 /* @-webkit-keyframes circle {
    from {-webkit-transform: rotateZ(0deg)}
    to {-webkit-transform: rotateZ(360deg)}
 }
 @-webkit-keyframes ccircle {
    from {-webkit-transform: rotateZ(360deg)}
    to {-webkit-transform: rotateZ(0deg)}
 } */


/* Ashley TEST */


.rotation-center-fix {
    width: 400px;
    height: 150px;
    border-radius: 50%;
    background-color: blue;
    margin: 250px 0;
    position: relative;
}

.rotate-element {
    width: 1px;
    height: 1px;
    padding: 10px;
    background-color: green;
    position: absolute;
    
    border-radius: 50%;
}
