.atom {
  width: 10vw;
  height: 10vw;

  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url('/public/images/element-option.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  color: antiquewhite;
  font-size: 1.5vw;
}

