.atom-representation-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Atom {
    width: 0px;
    height: 80px;
    position: relative;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Atom-nucleus,
.Atom-nucleus:before {
    position: absolute;
}

.Atom-nucleus {
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;   
    background-image: url(/public/images/hidden-element.webp);
    background-size: cover;
    background-position: center;
    filter: sepia(30%);

    color: rgb(59, 36, 36);
    font-size: 1.7rem;
    font-family: 'Old Standard TT', serif;
    text-shadow: 0vw 0.3vw 0.4vw black;
    font-weight: 600;
}

.Atom-nucleus:before {
    display: block;
    content: "";
    width: 8vh;
    height: 8vh;
    border-radius: 50%;
    opacity: 0.1;
}

.Atom-orbit {
    position: absolute;
    width: 80px;
    height: 80px;
    border: solid 4px transparent;
    transform-style: preserve-3d;
}

.Atom-electron {
    transform-style: preserve-3d;
}

.Atom-electron:before {
    display: block;
    content: "";
    width: 24px;
    height: 24px;
    margin-left: -12px;
    margin-top: -12px;
    border-radius: 50%;
    position: absolute;
    top: 40px;
    left: 40px;
}
.Atom-electron:after {
    display: block;
    content: "";
    width: 12px;
    height: 12px;
    margin-left: -6px;
    margin-top: -6px;
    border-radius: 50%;
    position: absolute;
    top: 40px;
    left: 40px;
    border-color: rgba(255, 255, 255, 0.4);
}

.Atom-orbit--0.Atom-orbit--visible {
    transform: rotateZ(0deg) rotateY(70deg);
}

.Atom-orbit--0.Atom-orbit--foreground {
    transform: translateZ(100px) rotateZ(0deg) rotateY(70deg);
}

@-webkit-keyframes rotate-top {
    0% {
        transform: rotate(0deg) translate(-40px) rotate(0deg);
    }
    100% {
        transform: rotate(360deg) translate(-40px) rotate(-360deg);
    }
}

@keyframes rotate-top {
    0% {
        transform: rotate(0deg) translate(-40px) rotate(0deg);
    }
    100% {
        transform: rotate(360deg) translate(-40px) rotate(-360deg);
    }
}
@-webkit-keyframes zind-left {
    0% {
        z-index: 1;
    }
    49% {
        z-index: 1;
    }
    50% {
        z-index: 3;
    }
    100% {
        z-index: 3;
    }
}
@keyframes zind-left {
    0% {
        z-index: 1;
    }
    49% {
        z-index: 1;
    }
    50% {
        z-index: 3;
    }
    100% {
        z-index: 3;
    }
}
@-webkit-keyframes zind-right {
    0% {
        z-index: 3;
    }
    49% {
        z-index: 3;
    }
    50% {
        z-index: 1;
    }
    100% {
        z-index: 1;
    }
}
@keyframes zind-right {
    0% {
        z-index: 3;
    }
    49% {
        z-index: 3;
    }
    50% {
        z-index: 1;
    }
    100% {
        z-index: 1;
    }
}
@-webkit-keyframes zind-top {
    0% {
        z-index: 1;
    }
    24% {
        z-index: 1;
    }
    25% {
        z-index: 3;
    }
    75% {
        z-index: 3;
    }
    76% {
        z-index: 1;
    }
}
@keyframes zind-top {
    0% {
        z-index: 1;
    }
    24% {
        z-index: 1;
    }
    25% {
        z-index: 3;
    }
    75% {
        z-index: 3;
    }
    76% {
        z-index: 1;
    }
}
.Atom-orbit--0 {
    -webkit-animation: zind-top infinite linear;
    animation: zind-top infinite linear;
    -webkit-animation-duration: 1.2s;
    animation-duration: 1.2s;
}
.Atom-orbit--0 .Atom-electron {
    -webkit-animation: rotate-top infinite linear;
    animation: rotate-top infinite linear;
    -webkit-animation-duration: 1.2s;
    animation-duration: 1.2s;
    transform: rotate(0deg) translate(-40px) rotate(0deg);
}
.Atom-orbit--0 .Atom-electron:before, .Atom-orbit--top .Atom-electron:after {
    transform: rotateY(-70deg) rotateZ(0deg);
}
.Atom-orbit--0 .Atom-electron:before {
    background: url("/public/images/electron.webp");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    filter: sepia(40%);
}
.Atom-orbit--0 .Atom-electron:after {
    background: url("/public/images/electron.webp");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 5px 0px #fad161;
    filter: sepia(40%);
}

.Atom-orbit--1.Atom-orbit--visible {
    transform: rotateZ(-60deg) rotateY(70deg);
}

.Atom-orbit--1.Atom-orbit--foreground {
    transform: translateZ(100px) rotateZ(-60deg) rotateY(70deg);
}

@-webkit-keyframes rotate-left {
    0% {
        transform: rotate(60deg) translate(-40px) rotate(-60deg);
    }
    100% {
        transform: rotate(420deg) translate(-40px) rotate(-420deg);
    }
}

@keyframes rotate-left {
    0% {
        transform: rotate(60deg) translate(-40px) rotate(-60deg);
    }
    100% {
        transform: rotate(420deg) translate(-40px) rotate(-420deg);
    }
}
@keyframes zind-left {
    0% {
        z-index: 1;
    }
    49% {
        z-index: 1;
    }
    50% {
        z-index: 3;
    }
    100% {
        z-index: 3;
    }
}
@keyframes zind-right {
    0% {
        z-index: 3;
    }
    49% {
        z-index: 3;
    }
    50% {
        z-index: 1;
    }
    100% {
        z-index: 1;
    }
}
@keyframes zind-top {
    0% {
        z-index: 1;
    }
    24% {
        z-index: 1;
    }
    25% {
        z-index: 3;
    }
    75% {
        z-index: 3;
    }
    76% {
        z-index: 1;
    }
}
.Atom-orbit--1 {
    -webkit-animation: zind-left infinite linear;
    animation: zind-left infinite linear;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
}
.Atom-orbit--1 .Atom-electron {
    -webkit-animation: rotate-left infinite linear;
    animation: rotate-left infinite linear;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    transform: rotate(60deg) translate(-40px) rotate(-60deg);
}
.Atom-orbit--1 .Atom-electron:before, .Atom-orbit--left .Atom-electron:after {
    transform: rotateY(-70deg) rotateZ(60deg);
}
.Atom-orbit--1 .Atom-electron:before {
    background: url("/public/images/electron.webp");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    filter: sepia(40%);
}
.Atom-orbit--1 .Atom-electron:after {
    background: url("/public/images/electron.webp");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 5px 0px #69ee75;
    filter: sepia(40%);
}

.Atom-orbit--2.Atom-orbit--visible {
    transform: rotateZ(60deg) rotateY(70deg);
}

.Atom-orbit--2.Atom-orbit--foreground {
    transform: translateZ(100px) rotateZ(60deg) rotateY(70deg);
}

@-webkit-keyframes rotate-right {
    0% {
        transform: rotate(120deg) translate(-40px) rotate(-120deg);
    }
    100% {
        transform: rotate(480deg) translate(-40px) rotate(-480deg);
    }
}

@keyframes rotate-right {
    0% {
        transform: rotate(120deg) translate(-40px) rotate(-120deg);
    }
    100% {
        transform: rotate(480deg) translate(-40px) rotate(-480deg);
    }
}
@keyframes zind-left {
    0% {
        z-index: 1;
    }
    49% {
        z-index: 1;
    }
    50% {
        z-index: 3;
    }
    100% {
        z-index: 3;
    }
}
@keyframes zind-right {
    0% {
        z-index: 3;
    }
    49% {
        z-index: 3;
    }
    50% {
        z-index: 1;
    }
    100% {
        z-index: 1;
    }
}
@keyframes zind-top {
    0% {
        z-index: 1;
    }
    24% {
        z-index: 1;
    }
    25% {
        z-index: 3;
    }
    75% {
        z-index: 3;
    }
    76% {
        z-index: 1;
    }
}
.Atom-orbit--2 {
    -webkit-animation: zind-right infinite linear;
    animation: zind-right infinite linear;
    -webkit-animation-duration: 0.9s;
    animation-duration: 0.9s;
}
.Atom-orbit--2 .Atom-electron {
    -webkit-animation: rotate-right infinite linear;
    animation: rotate-right infinite linear;
    -webkit-animation-duration: 0.9s;
    animation-duration: 0.9s;
    transform: rotate(120deg) translate(-40px) rotate(-120deg);
}
.Atom-orbit--2 .Atom-electron:before, .Atom-orbit--right .Atom-electron:after {
    transform: rotateY(-70deg) rotateZ(-60deg);
}
.Atom-orbit--2 .Atom-electron:before {
    background: url("/public/images/electron.webp");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    filter: sepia(40%);
}
.Atom-orbit--2 .Atom-electron:after {
    background: url("/public/images/electron.webp");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 5px 0px #992dd8;
    filter: sepia(40%);
}

.Atom-orbit--3.Atom-orbit--visible {
    transform: rotateZ(60deg) rotateY(70deg);
}

.Atom-orbit--3.Atom-orbit--foreground {
    transform: translateZ(100px) rotateZ(60deg) rotateY(70deg);
}

.Atom-orbit--3 {
    -webkit-animation: zind-right infinite linear;
    animation: zind-right infinite linear;
    -webkit-animation-duration: 0.9s;
    animation-delay: 0.2s;
    animation-duration: 0.9s;
}
.Atom-orbit--3 .Atom-electron {
    -webkit-animation: rotate-right infinite linear;
    animation: rotate-right infinite linear;
    -webkit-animation-duration: 0.9s;
    animation-duration: 0.9s;
    animation-delay: 0.2s;
    transform: rotate(120deg) translate(-40px) rotate(-120deg);
}
.Atom-orbit--3 .Atom-electron:before, .Atom-orbit--right .Atom-electron:after {
    transform: rotateY(-70deg) rotateZ(-60deg);
}
.Atom-orbit--3 .Atom-electron:before {
    background: url("/public/images/electron.webp");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    filter: sepia(40%);
}
.Atom-orbit--3 .Atom-electron:after {
    background: url("/public/images/electron.webp");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 5px 0px #992dd8;
    filter: sepia(40%);
}

/*
animation-delay: 2s;
*/

.Atom-orbit--4.Atom-orbit--visible {
    transform: rotateZ(-60deg) rotateY(70deg);
}

.Atom-orbit--4.Atom-orbit--foreground {
    transform: translateZ(100px) rotateZ(-60deg) rotateY(70deg);
}
.Atom-orbit--4 {
    -webkit-animation: zind-left infinite linear;
    animation: zind-left infinite linear;
    -webkit-animation-duration: 1.5s;
    animation-delay: 0.6s;
    animation-duration: 1.5s;
}
.Atom-orbit--4 .Atom-electron {
    -webkit-animation: rotate-left infinite linear;
    animation: rotate-left infinite linear;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    animation-delay: 0.6s;
    transform: rotate(60deg) translate(-40px) rotate(-60deg);
}
.Atom-orbit--4 .Atom-electron:before, .Atom-orbit--left .Atom-electron:after {
    transform: rotateY(-70deg) rotateZ(60deg);
}
.Atom-orbit--4 .Atom-electron:before {
    background: url("/public/images/electron.webp");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.Atom-orbit--4 .Atom-electron:after {
    background: url("/public/images/electron.webp");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 5px 0px #69ee75;
}


.Atom-orbit--5.Atom-orbit--visible {
    transform: rotateZ(0deg) rotateY(70deg);
}

.Atom-orbit--5.Atom-orbit--foreground {
    transform: translateZ(100px) rotateZ(0deg) rotateY(70deg);
}

.Atom-orbit--5 {
    -webkit-animation: zind-top infinite linear;
    animation: zind-top infinite linear;
    -webkit-animation-duration: 1.2s;
    animation-delay: 0.4s;
    animation-duration: 1.2s;
}
.Atom-orbit--5 .Atom-electron {
    -webkit-animation: rotate-top infinite linear;
    animation: rotate-top infinite linear;
    -webkit-animation-duration: 1.2s;
    animation-duration: 1.2s;
    animation-delay: 0.4s;
    transform: rotate(0deg) translate(-40px) rotate(0deg);
}
.Atom-orbit--5 .Atom-electron:before, .Atom-orbit--top .Atom-electron:after {
    transform: rotateY(-70deg) rotateZ(0deg);
}
.Atom-orbit--5 .Atom-electron:before {
    background: url("/public/images/electron.webp");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.Atom-orbit--5 .Atom-electron:after {
    background: url("/public/images/electron.webp");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 5px 0px #fad161;
}

.nameplate {
    font-family: sans-serif;
    padding-left: 10px;
    opacity: 0.5;
}
.nameplate span {
    font-size: small;
    opacity: 0.5;
    font-style: italic;
}
.nameplate h2 {
    margin: -3px 0;
    font-weight: normal;
}

html,
body {
    height: 100%;
}

.loader {
    display: flex;
    height: 100%;
    flex: 1 1 100%;
    justify-content: center;
    align-items: center;
}