.atoms-bar {
  width: 100%;
  background-image: url('/public/images/elements-bar.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  display: flex;
  user-select: none;
}