.formula {
  height: 22vh;
  width: 25vw;
  background-image: url(/public/images/formula.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  position: relative;
  margin: 0 auto;
  margin-top: -5.6rem;

  display: flex;
  justify-content: center;
}

.formula-text {
  display: flex;
  margin-top: 3rem;
  color: rgb(230, 222, 207);
  font-size: 1.7rem;
  font-family: 'Old Standard TT', serif;
  text-shadow: 0vw 0.5vw 0.3vw black;
}
