.compound-container {
  margin: 0 auto;
  height: 40vw;
  width: 40vw;
  margin-top: -12vw;
}

img {
  height: 100%;
  width: 100%;
  position: relative;
}

.graphic-container {
  position: relative;
  height: 55vw;
  width: 55vw;
  background-size: contain;
  background-position: center;
  right: 7.5vw;
  bottom: 7vw;
  z-index: -10;
}

.element {
  width: 8vw;
  height: 8vw;
  background-image: url(/public/images/hidden-element.png);
  background-position: center;
  background-size: contain;
  border-radius: 50%;
  position: absolute;
  animation: rotate 25s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.e1 {
  left: 15vw;
  top: 24vw;
}

.e2 {
  left: 23.8vw;
  top: 24vw;
}

.e3 {
  left: 33vw;
  top: 24vw;
}

.e4 {
  left: 16vw;
  top: 30vw;
}

.e5 {
  left: 23.8vw;
  top: 15vw;
}

.e6 {
  left: 32vw;
  top: 30vw;
}

.e7 {
  left: 23.8vw;
  top: 15.5vw;
}

.e8 {
  left: 23.8vw;
  top: 33vw;
}

.e9 {
  left: 12vw;
  top: 24vw;
}

.e10 {
  left: 19.6vw;
  top: 24vw;
}

.e11 {
  left: 27.3vw;
  top: 24vw;
}

.e12 {
  left: 35vw;
  top: 24vw;
}

.e13 {
  left: 23.8vw;
  top: 15.5vw;
}

.e14 {
  left: 15vw;
  top: 22.5vw;
}

.e15 {
  left: 33vw;
  top: 22.5vw;
}

.e16 {
  left: 18.5vw;
  top: 32vw;
}

.e17 {
  left: 29.5vw;
  top: 32vw;
}


.CH3CH2OH .e1 {
  top: 23.3vw;
  left: 10vw;
}

.CH3CH2OH .e2 {
  top: 23.3vw;
  left: 18.5vw;
}

.CH3CH2OH .e3 {
  top: 23.3vw;
  left: 25.0vw;
}

.CH3CH2OH .e4 {
  top: 23.3vw;
  left: 33.5vw;
}

.CH3CH2OH .e5 {
  top: 15.6vw;
  left: 18.5vw;
}

.CH3CH2OH .e6 {
  top: 31vw;
  left: 18.5vw;
}

.CH3CH2OH .e7 {
  top: 15.6vw;
  left: 25vw;
}

.CH3CH2OH .e8 {
  top: 31vw;
  left: 25vw;
}

.H2SO4 .e1 {
  top: 23vw;
  left: 15.5vw;
}

.H2SO4 .e2 {
  top: 23vw;
  left: 23.8vw;
}

.H2SO4 .e3 {
  top: 23vw;
  left: 32.3vw;
}

.H2SO4 .e4 {
  top: 15vw;
  left: 23.8vw;
}

.H2SO4 .e5 {
  top: 31.2vw;
  left: 23.8vw;
}

.H2SO4 .e6 {
  top: 15vw;
  left: 32.3vw;
}

.H2SO4 .e7 {
  top: 31.2vw;
  left: 15.5vw;
}

.CH3COOH .e1 {
  top: 16vw;
  left: 20vw;
}

.CH3COOH .e2 {
  top: 30.6vw;
  left: 20vw;
}

.CH3COOH .e3 {
  top: 23.3vw;
  left: 12.5vw;
}

.CH3COOH .e4 {
  top: 23.3vw;
  left: 35.5vw;
}

.CH3COOH .e5 {
  top: 23.3vw;
  left: 20vw;
}

.CH3COOH .e6 {
  top: 16vw;
  left: 28vw;
}

.CH3COOH .e7 {
  top: 23.3vw;
  left: 28vw;
}

.HCOOH .e1 {
  top: 26vw;
  left: 15vw;
}

.HCOOH .e2 {
  top: 16vw;
  left: 21.5vw;
}

.HCOOH .e3 {
  top: 24vw;
  left: 21.5vw;
}

.HCOOH .e4 {
  top: 26vw;
  left: 27.9vw;
}

.HCOOH .e5 {
  top: 22.7vw;
  left: 34vw;
}

.C2H6 .e1 {
  top: 23.4vw;
  left: 13vw;
}

.C2H6 .e2 {
  top: 16vw;
  left: 20vw;
}

.C2H6 .e3 {
  top: 16vw;
  left: 27.5vw;
}

.C2H6 .e4 {
  top: 23.4vw;
  left: 27.5vw;
}

.C2H6 .e5 {
  top: 23.4vw;
  left: 20vw;
}

.C2H6 .e6 {
  top: 23.4vw;
  left: 34.5vw;
}

.C2H6 .e7 {
  top: 31vw;
  left: 20vw;
}

.C2H6 .e8 {
  top: 31vw;
  left: 27.5vw;
}



.e18 {
  left: 19.5vw;
  top: 16vw;
}

.e19 {
  left: 19.5vw;
  top: 32vw;
}

.e20 {
  left: 28.5vw;
  top: 16vw;
}

.e21 {
  left: 9vw;
  top: 24vw;
}

.e22 {
  left: 16.4vw;
  top: 24vw;
}

.e23{
  left: 31.2vw;
  top: 24vw;
}

.e24 {
  left: 31.2vw;
  top: 32vw;
}

.e25 {
  left: 16.4vw;
  top: 16vw;
}

.e26 {
  left: 38.6vw;
  top: 24vw;
}

.e27 {
  left: 16.4vw;
  top: 32vw;
}

.e28 {
  left: 31.2vw;
  top: 16vw;
}

/* C6H6 */

.e29 {
  left: 23.8vw;
  top: 15vw;
}

.e30 {
  left: 23.8vw;
  top: 24vw;
}

.e31 {
  left: 23.8vw;
  top: 24vw;
}

.e32 {
  left: 23.8vw;
  top: 24vw;
}

.e33 {
  left: 31.2vw;
  top: 16vw;
}

.e34 {
  left: 31.2vw;
  top: 16vw;
}

.e35 {
  left: 31.2vw;
  top: 16vw;
}

.e36 {
  left: 31.2vw;
  top: 16vw;
}

.e37 {
  left: 31.2vw;
  top: 16vw;
}

.e38 {
  left: 31.2vw;
  top: 16vw;
}

.e39 {
  left: 31.2vw;
  top: 16vw;
}


/* BACKGROUNDS */

.SCl2 {
  background-image: url("/public/images/1/SCl2.png");
}

.BF3 {
  background-image: url("/public/images/1/BF3.png");
}

.BeH2 {
  background-image: url("/public/images/1/BeH2.png");
}

.PBr3 {
  background-image: url("/public/images/1/PBr3.png");
}

.Cl2O {
  background-image: url("/public/images/1/Cl2O.png");
}

.XeF4 {
  background-image: url("/public/images/1/XeF4.png");
}

.CHCl3 {
  background-image: url("/public/images/2/CHCl3.png");
}

.PF5 {
  background-image: url("/public/images/2/PF5.png");
}

.C2HCl {
  background-image: url("/public/images/2/C2HCl.png");
}

.COCl2 {
  background-image: url("/public/images/2/COCl2.png");
}

.CH3Br {
  background-image: url("/public/images/2/CH3Br.png");
}

.CCl2F2 {
  background-image: url("/public/images/2/CCl2F2.png");
}

.SF6 {
  background-image: url("/public/images/3/SF6.png");
}

.CH3OCH3 {
  background-image: url("/public/images/3/CH3OCH3.png");
}

.C6H6 {
  background-image: url("/public/images/3/C6H6.png");
}

.C2H6 {
  background-image: url("/public/images/3/C2H6.png");
}

.HCOOH {
  background-image: url("/public/images/3/HCOOH.png");
}

.CH3COOH {
  background-image: url("/public/images/3/CH3COOH.png");
}

.H2SO4 {
  background-image: url("/public/images/3/H2SO4.png");
}

.CH3CH2OH {
  background-image: url("/public/images/3/CH3CH2OH.png");
}


