.compound-container {
  margin: 0 auto;
  height: 40vw;
  width: 40vw;
  margin-top: -12vw;
}

img {
  height: 100%;
  width: 100%;
  position: relative;
}

.graphic-container {
  position: relative;
  height: 55vw;
  width: 55vw;
  background-size: contain;
  background-position: center;
  right: 7.5vw;
  bottom: 4vw;
  z-index: -10;
}

.element {
  width: 8vw;
  height: 8vw;
  position: absolute;
}

.element.point::before {
  background-image: url(/public/images/hidden-element.webp);
  background-position: center;
  background-size: contain;
}

.element::before {
  content: "";
  background-image: url(/public/images/guessing-element.webp);
  background-position: center;
  background-size: contain;
  border-radius: 50%;
  animation: rotate 25s linear infinite;
  opacity: 1;
  color: white;
  width: 8vw;
  height: 8vw;
  scale: 115%;
  position: absolute;
  z-index: 999;
}

.element.hide::before {
  content: "";
  background-image: url(/public/images/hidden-element.webp);
  background-position: center;
  background-size: contain;
  border-radius: 50%;
  animation: rotate 25s linear infinite;
  opacity: 0;
  color: white;
  width: 8vw;
  height: 8vw;
  position: absolute;
  z-index: 999;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* 01. SCL2 */

.SCl2 .S1 {
  left: 23.8vw;
  top: 24vw;
}

.SCl2 .Cl1 {
  left: 14.7vw;
  top: 24vw;
}

.SCl2 .Cl2 {
  left: 33vw;
  top: 24vw;
}

/* 02. BF3 */

.BF3 .B1 {
  left: 23.8vw;
  top: 24vw;
}
.BF3 .F1 {
  left: 23.8vw;
  top: 15vw;
}


.BF3 .F2 {
  left: 16vw;
  top: 30vw;
}

.BF3 .F3 {
  left: 32vw;
  top: 30vw;
}

/* 03. BeH2 */

.BeH2 .Be1 {
  left: 23.8vw;
  top: 24vw;
}
.BeH2 .H1 {
  left: 15vw;
  top: 24vw;
}


.BeH2 .H2 {
  left: 33vw;
  top: 24vw;
}

/* 04. PBr3 */

.PBr3 .P1 {
  left: 23.8vw;
  top: 24vw;
}

.PBr3 .Br1 {
  left: 23.8vw;
  top: 15vw;
}

.PBr3 .Br2 {
  left: 32vw;
  top: 30vw;
}

.PBr3 .Br3 {
  left: 16vw;
  top: 30vw;
}

/* 05. Cl2O */

.Cl2O .Cl1 {
  left: 15vw;
  top: 24vw;
}

.Cl2O .Cl2 {
  left: 33vw;
  top: 24vw;
}

.Cl2O .O1 {
  left: 23.8vw;
  top: 24vw;
}

/* 06. XeF4 */

.XeF4 .Xe1 {
  left: 23.8vw;
  top: 24vw;
}

.XeF4 .F1 {
  left: 15vw;
  top: 24vw;
}

.XeF4 .F2 {
  left: 33vw;
  top: 24vw;
}

.XeF4 .F3 {
  left: 23.8vw;
  top: 33vw;
}

.XeF4 .F4 {
  left: 23.8vw;
  top: 15vw;
}

/* 07. CHCl3 */

.CHCl3 .C1 {
  left: 23.8vw;
  top: 24vw;
}

.CHCl3 .H1 {
  left: 33vw;
  top: 24vw;
}

.CHCl3 .Cl1 {
  left: 15vw;
  top: 24vw;
}

.CHCl3 .Cl2 {
  left: 23.8vw;
  top: 15.5vw;
}

.CHCl3 .Cl3 {
  left: 23.8vw;
  top: 33vw;
}

/* 08. PF5 */

.PF5 .P1 {
  left: 23.8vw;
  top: 24vw;
}
.PF5 .F1 {
  left: 23.8vw;
  top: 15.5vw;
}

.PF5 .F2 {
  left: 15vw;
  top: 22.5vw;
}

.PF5 .F3 {
  left: 33vw;
  top: 22.5vw;
}

.PF5 .F4 {
  left: 18.5vw;
  top: 32vw;
}
.PF5 .F5 {
  left: 29.5vw;
  top: 32vw;
}

/* 09. C2HCl */

.C2HCl .C1 {
  left: 19.6vw;
  top: 24vw;
}

.C2HCl .C2 {
  left: 27.3vw;
  top: 24vw;
}

.C2HCl .H1 {
  left: 12vw;
  top: 24vw;
}

.C2HCl .Cl1 {
  left: 35vw;
  top: 24vw;
}

/* 10. COCl2 */

.COCl2 .C1 {
  left: 23.6vw;
  top: 24vw;
}

.COCl2 .O1 {
  left: 32vw;
  top: 30vw;
}

.COCl2 .Cl1 {
  left: 23.6vw;
  top: 15vw;
}

.COCl2 .Cl2 {
  left: 16vw;
  top: 30vw;
}

/* 11. CH3Br */

.CH3Br .C1{
  left: 23.8vw;
  top: 24vw;
}

.CH3Br .H1{
  left: 15vw;
  top: 24vw;
}

.CH3Br .H2{
  left: 33vw;
  top: 24vw;
}
.CH3Br .H3{
  left: 23.8vw;
  top: 15.5vw;
}

.CH3Br .Br1{
  left: 23.8vw;
  top: 33vw;
}

/* 12. CCl2F2 */

.CCl2F2 .C1{
  left: 23.8vw;
  top: 24vw;
}

.CCl2F2 .Cl1{
  left: 33vw;
  top: 24vw;
}  

.CCl2F2 .Cl2{
  left: 23.8vw;
  top: 15.5vw;
}

.CCl2F2 .F1{
  left: 15vw;
  top: 24vw;
}

.CCl2F2 .F2{
  left: 23.8vw;
  top: 33vw;
}

/* 13. SF6 */

.SF6 .S1{
  left: 23.8vw;
  top: 24vw;
}

.SF6 .F1{
  left: 15vw;
  top: 24vw;
}

.SF6 .F2{
  left: 33vw;
  top: 24vw;
}

.SF6 .F3{
  left: 19.5vw;
  top: 16vw;
}

.SF6 .F4{
  left: 19.5vw;
  top: 32vw;
}

.SF6 .F5{
  left: 28.5vw;
  top: 16vw;
}

.SF6 .F6{
  left: 28.5vw;
  top: 32vw;
}

/* 14. CH3OCH3 */

.CH3OCH3 .C1 {
  left: 16.4vw;
  top: 24vw;
}

.CH3OCH3 .H1 {
  left: 9vw;
  top: 24vw;
}

.CH3OCH3 .H2 {
  left: 31.2vw;
  top: 32vw;
}

.CH3OCH3 .H3 {
  left: 16.4vw;
  top: 16vw;
}

.CH3OCH3 .O1 {
  left: 23.8vw;
  top: 24vw;
}

.CH3OCH3 .C2 {
  left: 31.2vw;
  top: 24vw;
}

.CH3OCH3 .H4 {
  left: 38.6vw;
  top: 24vw;
}

.CH3OCH3 .H5 {
  left: 16.4vw;
  top: 32vw;
}

.CH3OCH3 .H6 {
  left: 31.2vw;
  top: 16vw;
}

/* 15. C6H6 */

.C6H6 .H1 {
  left: 23.9vw;
  top: 37.5vw;
}
.C6H6 .H2 {
  left: 38vw;
  top: 14vw;
}
.C6H6 .H3 {
  left: 38vw;
  top: 32vw;
}
.C6H6 .H4 {
  left: 24vw;
  top: 11vw;
}
.C6H6 .H5 {
  left: 10vw;
  top: 14vw;
}

.C6H6 .H6 {
  left: 10vw;
  top: 32vw;
}

.C6H6 .C1 {
  left: 16vw;
  top: 20vw;
}

.C6H6 .C2 {
  left: 32vw;
  top: 27vw;
}

.C6H6 .C3 {
  left: 16vw;
  top: 27vw;
}

.C6H6 .C4 {
  left: 23.9vw;
  top: 30vw;
}

.C6H6 .C5{
  left: 23.9vw;
  top: 18.2vw;
}

.C6H6 .C6 {
  left: 32vw;
  top: 20vw;
}

/* 16. C2H6 */

.C2H6 .C1 {
  top: 23.4vw;
  left: 27.3vw;
}

.C2H6 .C2 {
  top: 23.4vw;
  left: 20.2vw;
}

.C2H6 .H1 {
  top: 16vw;
  left: 27.3vw;
}

.C2H6 .H2 {
  top: 23.4vw;
  left: 13vw;
}

.C2H6 .H3 {
  top: 16vw;
  left: 20.2vw;
}

.C2H6 .H4 {
  top: 23.4vw;
  left: 34.4vw;
}

.C2H6 .H5 {
  top: 31vw;
  left: 20.2vw;
}

.C2H6 .H6 {
  top: 31vw;
  left: 27.3vw;
}

/* 17. HCOOH */

.HCOOH .H1 {
  top: 29vw;
  left: 14vw;
}

.HCOOH .C1 {
  top: 24vw;
  left: 21.5vw;
}

.HCOOH .O1 {
  top: 16vw;
  left: 21.5vw;
}

.HCOOH .O2 {
  top: 29vw;
  left: 28.9vw;
}

.HCOOH .H2 {
  top: 24vw;
  left: 36.4vw;
}

/* 18. CH3COOH */

.CH3COOH .C1 {
  left: 16.4vw;
  top: 24vw;
}

.CH3COOH .H1 {
  left: 9vw;
  top: 24vw;
}

.CH3COOH .H2 {
  left: 16.4vw;
  top: 16vw;
}

.CH3COOH .H3 {
  left: 16.4vw;
  top: 32vw;
}

.CH3COOH .C2 {
  left: 23.8vw;
  top: 24vw;
}

.CH3COOH .O1 {
  left: 23.8vw;
  top: 16vw;
}

.CH3COOH .O2 {
  left: 31.2vw;
  top: 24vw;
}

.CH3COOH .H4 {
  left: 38.6vw;
  top: 24vw;
}
/* y este atrevido? */
/* son 4 H en total */
.CH3COOH .H6 {
  left: 31.2vw;
  top: 16vw;
}

/* 19. H2SO4 */

.H2SO4 .H1 {
  top: 32.2vw;
  left: 15.5vw;
}

.H2SO4 .H2 {
  top: 16vw;
  left: 32.3vw;
}

.H2SO4 .S1 {
  top: 24vw;
  left: 23.8vw;
}

.H2SO4 .O1 {
  top: 16vw;
  left: 23.8vw;
}

.H2SO4 .O2 {
  top: 32.2vw;
  left: 23.8vw;
}

.H2SO4 .O3 {
  top: 24vw;
  left: 32.3vw;
}

.H2SO4 .O4 {
  top: 24vw;
  left: 15.5vw;
}

/* 20. CH3CH2OH */

.CH3CH2OH .H1 {
  top: 24.3vw;
  left: 9vw;
}

.CH3CH2OH .C1 {
  top: 24.3vw;
  left: 16.4vw;
}

.CH3CH2OH .C2 {
  top: 24.3vw;
  left: 23.7vw;
}

.CH3CH2OH .H2 {
  top: 24.3vw;
  left: 38.4vw;
}

.CH3CH2OH .H3 {
  top: 16.6vw;
  left: 16.4vw;
}

.CH3CH2OH .H4 {
  top: 32vw;
  left: 16.4vw;
}

.CH3CH2OH .H5 {
  top: 16.6vw;
  left: 23.7vw;
}

.CH3CH2OH .H6 {
  top: 32vw;
  left: 23.8vw;
}

.CH3CH2OH .O1 {
  top: 24.3vw;
  left: 31vw;
}

/* BACKGROUNDS */

.SCl2 {
  background-image: url("/public/images/1/SCl2.webp");
}

.BF3 {
  background-image: url("/public/images/1/BF3.webp");
}

.BeH2 {
  background-image: url("/public/images/1/BeH2.webp");
}

.PBr3 {
  background-image: url("/public/images/1/PBr3.webp");
}

.Cl2O {
  background-image: url("/public/images/1/Cl2O.webp");
}

.XeF4 {
  background-image: url("/public/images/1/XeF4.webp");
}

.CHCl3 {
  background-image: url("/public/images/2/CHCl3.webp");
}

.PF5 {
  background-image: url("/public/images/2/PF5.webp");
}

.C2HCl {
  background-image: url("/public/images/2/C2HCl.webp");
}

.COCl2 {
  background-image: url("/public/images/2/COCl2.webp");
}

.CH3Br {
  background-image: url("/public/images/2/CH3Br.webp");
}

.CCl2F2 {
  background-image: url("/public/images/2/CCl2F2.webp");
}

.SF6 {
  background-image: url("/public/images/3/SF6.webp");
}

.CH3OCH3 {
  background-image: url("/public/images/3/CH3OCH3.webp");
}

.C6H6 {
  background-image: url("/public/images/3/C6H6.webp");
}

.C2H6 {
  background-image: url("/public/images/3/C2H6.webp");
}

.HCOOH {
  background-image: url("/public/images/3/HCOOH.webp");
}

.CH3COOH {
  background-image: url("/public/images/3/CH3COOH.webp");
}

.H2SO4 {
  background-image: url("/public/images/3/H2SO4.webp");
}

.CH3CH2OH {
  background-image: url("/public/images/3/CH3CH2OH.webp");
}


