.compound-container {
  margin: 0 auto;
  height: 40vw;
  width: 40vw;
  margin-top: -12vw;
}

img {
  height: 100%;
  width: 100%;
  position: relative;
}

.graphic-container {
  position: relative;
  height: 55vw;
  width: 55vw;
  background-size: contain;
  background-position: center;
  right: 7.5vw;
  bottom: 7vw;
  z-index: -10;
}

.element {
  width: 8vw;
  height: 8vw;
  background-image: url(/public/images/hidden-element.png);
  background-position: center;
  background-size: contain;
  border-radius: 50%;
  position: absolute;
  animation: rotate 25s linear infinite;
  opacity: 100%;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.e1 {
  left: 15vw;
  top: 24vw;
}

.e2 {
  left: 23.8vw;
  top: 24vw;
}

.e3 {
  left: 33vw;
  top: 24vw;
}

.e4 {
  left: 16vw;
  top: 30vw;
}

.e5 {
  left: 23.8vw;
  top: 15vw;
}

.e6 {
  left: 32vw;
  top: 30vw;
}

.e7 {
  left: 23.8vw;
  top: 15.5vw;
}

.e8 {
  left: 23.8vw;
  top: 33vw;
}

.e9 {
  left: 12vw;
  top: 24vw;
}

.e10 {
  left: 19.6vw;
  top: 24vw;
}

.e11 {
  left: 27.3vw;
  top: 24vw;
}

.e12 {
  left: 35vw;
  top: 24vw;
}

.e13 {
  left: 23.8vw;
  top: 15.5vw;
}

.e14 {
  left: 15vw;
  top: 22.5vw;
}

.e15 {
  left: 33vw;
  top: 22.5vw;
}

.e16 {
  left: 18.5vw;
  top: 32vw;
}

.e17 {
  left: 29.5vw;
  top: 32vw;
}

.e18 {
  left: 19.5vw;
  top: 16vw;
}

.e19 {
  left: 19.5vw;
  top: 32vw;
}

.e20 {
  left: 28.5vw;
  top: 16vw;
}

.e21 {
  left: 9vw;
  top: 24vw;
}

.e22 {
  left: 16.4vw;
  top: 24vw;
}

.e23{
  left: 31.2vw;
  top: 24vw;
}

.e24 {
  left: 31.2vw;
  top: 32vw;
}

.e25 {
  left: 16.4vw;
  top: 16vw;
}

.e26 {
  left: 38.6vw;
  top: 24vw;
}

.e27 {
  left: 16.4vw;
  top: 32vw;
}

.e28 {
  left: 31.2vw;
  top: 16vw;
}

.e29 {
  left: 24vw;
  top: 14vw;
}

.e30 {
  left: 38vw;
  top: 17vw;
}

.e31 {
  left: 38vw;
  top: 35vw;
}

.e32 {
  left: 24vw;
  top: 21vw;
}

.e33 {
  left: 23.9vw;
  top: 33vw;
}

.e34 {
  left: 23.9vw;
  top: 40.5vw;
}

.e35 {
  left: 32vw;
  top: 23vw;
}

.e36 {
  left: 32vw;
  top: 30vw;
}

.e37 {
  left: 16vw;
  top: 30vw;
}

.e38 {
  left: 16vw;
  top: 23vw;
}

.e39 {
  left: 10vw;
  top: 17vw;
}

.e40 {
  left: 10vw;
  top: 35vw;
}

/* 01. SCL2 */

.SCL2 .e1 {
  left: 15vw;
  top: 24vw;
}

.SCL2 .e2 {
  left: 23.8vw;
  top: 24vw;
}

.SCL2 .e3 {
  left: 33vw;
  top: 24vw;
}

/* 02. BF3 */

.BF3 .e1 {
  left: 23.8vw;
  top: 24vw;
}

.BF3 .e2 {
  left: 23.8vw;
  top: 15vw;
}

.BF3 .e3 {
  left: 16vw;
  top: 30vw;
}

.BF3 .e4 {
  left: 32vw;
  top: 30vw;
}

/* 03. BeH2 */

.BeH2 .e1 {
  left: 15vw;
  top: 24vw;
}

.BeH2 .e2 {
  left: 23.8vw;
  top: 24vw;
}

.BeH2 .e3 {
  left: 33vw;
  top: 24vw;
}

/* 04. PBr3 */

.PBr3 .e1 {
  left: 23.8vw;
  top: 24vw;
}

.PBr3 .e2 {
  left: 23.8vw;
  top: 15vw;
}

.PBr3 .e3 {
  left: 33vw;
  top: 24vw;
}

.PBr3 .e4 {
  left: 16vw;
  top: 30vw;
}

/* 05. Cl2O */

.Cl2O .e1 {
  left: 15vw;
  top: 24vw;
}

.Cl2O .e2 {
  left: 23.8vw;
  top: 24vw;
}

.Cl2O .e3 {
  left: 33vw;
  top: 24vw;
}

/* 06. XeF4 */

.Xef4 .e1 {
  left: 15vw;
  top: 24vw;
}
.Xef4 .e2 {
  left: 23.8vw;
  top: 24vw;
}
.Xef4 .e3 {
  left: 33vw;
  top: 24vw;
}
.Xef4 .e4 {
  left: 23.8vw;
  top: 15.5vw;
}
.Xef4 .e5 {
  left: 23.8vw;
  top: 33vw;
}

/* 07. CHCl3 */

.CHCl3 .e1 {
  left: 15vw;
  top: 24vw;
}

.CHCl3 .e2 {
  left: 23.8vw;
  top: 24vw;
}

.CHCl3 .e3 {
  left: 33vw;
  top: 24vw;
}

.CHCl3 .e4 {
  left: 23.8vw;
  top: 15.5vw;
}

.CHCl3 .e5 {
  left: 23.8vw;
  top: 33vw;
}

/* 08. PF5 */

.PF5 .e1 {
  left: 23.8vw;
  top: 24vw;
}
.PF5 .e2 {
  left: 23.8vw;
  top: 15.5vw;
}

.PF5 .e3 {
  left: 15vw;
  top: 22.5vw;
}

.PF5 .e4 {
  left: 33vw;
  top: 22.5vw;
}

.PF5 .e5 {
  left: 18.5vw;
  top: 32vw;
}
.PF5 .e6 {
  left: 29.5vw;
  top: 32vw;
}

/* 09. C2HCl */

.C2HCl .e1 {
  left: 12vw;
  top: 24vw;
}

.C2HCl .e2 {
  left: 19.6vw;
  top: 24vw;
}

.C2HCl .e3 {
  left: 27.3vw;
  top: 24vw;
}

.C2HCl .e4 {
  left: 35vw;
  top: 24vw;
}

/* 10. COCl2 */

.COCl2 .e1{
  left: 23.8vw;
  top: 24vw;
}
.COCl2 .e2{
  left: 23.8vw;
  top: 15vw;
}

.COCl2 .e3{
  left: 16vw;
  top: 30vw;
}

.COCl2 .e4{
  left: 32vw;
  top: 30vw;
}

/* 11. CH3Br */

.CH3Br .e1{
  left: 15vw;
  top: 24vw;
}

.CH3Br .e2{
  left: 23.8vw;
  top: 24vw;
}

.CH3Br .e3{
  left: 33vw;
  top: 24vw;
}
.CH3Br .e4{
  left: 23.8vw;
  top: 15.5vw;
}

.CH3Br .e5{
  left: 23.8vw;
  top: 33vw;
}

/* 12. CCl2F2 */

.CCl2F2 .e1{
  left: 15vw;
  top: 24vw;
}

.CCl2F2 .e2{
  left: 23.8vw;
  top: 24vw;
}

.CCl2F2 .e3{
  left: 33vw;
  top: 24vw;
}  
.CCl2F2 .e4{
  left: 23.8vw;
  top: 15.5vw; 
}

.CCl2F2 .e5{
  left: 23.8vw;
  top: 33vw;
}

/* 13. SF6 */

.SF6 .e1{
  left: 15vw;
  top: 24vw;
}

.SF6 .e2{
  left: 23.8vw;
  top: 24vw;
}

.SF6 .e3{
  left: 33vw;
  top: 24vw;
}

.SF6 .e4{
  left: 19.5vw;
  top: 16vw;
}

.SF6 .e5{
  left: 19.5vw;
  top: 32vw;
}

.SF6 .e6{
  left: 28.5vw;
  top: 16vw;
}
.SF6 .e7{
  left: 28.5vw;
  top: 32vw;
}

/* 14. CH3OCH3 */

.CH3OCH3 .e1 {
  left: 23.8vw;
  top: 24vw;
}
.CH3OCH3 .e2 {
  left: 9vw;
  top: 24vw;
}
.CH3OCH3 .e3 {
  left: 16.4vw;
  top: 24vw;
}
.CH3OCH3 .e4 {
  left: 31.2vw;
  top: 24vw;
}
.CH3OCH3 .e5 {
  left: 31.2vw;
  top: 32vw;
}
.CH3OCH3 .e6 {
  left: 16.4vw;
  top: 16vw;
}
.CH3OCH3 .e7 {
  left: 38.6vw;
  top: 24vw;
}
.CH3OCH3 .e8 {
  left: 16.4vw;
  top: 32vw;
}
.CH3OCH3 .e9 {
  left: 31.2vw;
  top: 16vw
}

/* 15. C6H6 */

.C6H6 .e1 {
  left: 24vw;
  top: 14vw;
}

.C6H6 .e2 {
  left: 38vw;
  top: 17vw;
}

.C6H6 .e3 {
  left: 38vw;
  top: 35vw;
}

.C6H6 .e4 {
  left: 23.9vw;
  top: 33vw;
}

.C6H6 .e5 {
  left: 23.9vw;
  top: 40.5vw;
}

.C6H6 .e6 {
  left: 32vw;
  top: 23vw;
}

.C6H6 .e7 {
  left: 32vw;
  top: 30vw;
}

.C6H6 .e8 {
  left: 32vw;
  top: 30vw;
}

.C6H6 .e9 {
  left: 16vw;
  top: 30vw;
}

.C6H6 .e10 {
  left: 16vw;
  top: 23vw;
}

.C6H6 .e11 {
  left: 10vw;
  top: 17vw;
}

.C6H6 .e12 {
  left: 10vw;
  top: 35vw;
} 

/* 16. C2H6 */

.C2H6 .e1 {
  top: 23.4vw;
  left: 13vw;
}

.C2H6 .e2 {
  top: 16vw;
  left: 20.2vw;
}

.C2H6 .e3 {
  top: 16vw;
  left: 27.3vw;
}

.C2H6 .e4 {
  top: 23.4vw;
  left: 27.3vw;
}

.C2H6 .e5 {
  top: 23.4vw;
  left: 20.2vw;
}

.C2H6 .e6 {
  top: 23.4vw;
  left: 34.4vw;
}

.C2H6 .e7 {
  top: 31vw;
  left: 20.2vw;
}

.C2H6 .e8 {
  top: 31vw;
  left: 27.3vw;
}

/* 17. HCOOH */

.HCOOH .e1 {
  top: 29vw;
  left: 14vw;
}

.HCOOH .e2 {
  top: 16vw;
  left: 21.5vw;
}

.HCOOH .e3 {
  top: 24vw;
  left: 21.5vw;
}

.HCOOH .e4 {
  top: 29vw;
  left: 28.9vw;
}

.HCOOH .e5 {
  top: 24vw;
  left: 36.4vw;
}

/* 18. CH3COOH */

.CH3COOH .e1 {
  top: 17vw;
  left: 20.25vw;
}

.CH3COOH .e2 {
  top: 33vw;
  left: 20.25vw;
}

.CH3COOH .e3 {
  top: 25vw;
  left: 12.5vw;
}

.CH3COOH .e4 {
  top: 25vw;
  left: 35.5vw;
}

.CH3COOH .e5 {
  top: 25vw;
  left: 20.25vw;
}

.CH3COOH .e6 {
  top: 17vw;
  left: 28vw;
}

.CH3COOH .e7 {
  top: 25vw;
  left: 28vw;
}

/* 19. H2SO4 */

.H2SO4 .e1 {
  top: 24vw;
  left: 15.5vw;
}

.H2SO4 .e2 {
  top: 24vw;
  left: 23.8vw;
}

.H2SO4 .e3 {
  top: 24vw;
  left: 32.3vw;
}

.H2SO4 .e4 {
  top: 16vw;
  left: 23.8vw;
}

.H2SO4 .e5 {
  top: 32.2vw;
  left: 23.8vw;
}

.H2SO4 .e6 {
  top: 16vw;
  left: 32.3vw;
}

.H2SO4 .e7 {
  top: 32.2vw;
  left: 15.5vw;
}

/* 20. CH3CH2OH */

.CH3CH2OH .e1 {
  top: 24.3vw;
  left: 9vw;
}

.CH3CH2OH .e2 {
  top: 24.3vw;
  left: 16.4vw;
}

.CH3CH2OH .e3 {
  top: 24.3vw;
  left: 23.7vw;
}

.CH3CH2OH .e4 {
  top: 24.3vw;
  left: 31vw;
}

.CH3CH2OH .e5 {
  top: 16.6vw;
  left: 16.4vw;
}

.CH3CH2OH .e6 {
  top: 32vw;
  left: 16.4vw;
}

.CH3CH2OH .e7 {
  top: 16.6vw;
  left: 23.7vw;
}

.CH3CH2OH .e8 {
  top: 32vw;
  left: 23.8vw;
}
.CH3CH2OH .e9 {
  top: 24.3vw;
  left: 38.4vw;
}

/* BACKGROUNDS */

.SCl2 {
  background-image: url("/public/images/1/SCl2.png");
}

.BF3 {
  background-image: url("/public/images/1/BF3.png");
}

.BeH2 {
  background-image: url("/public/images/1/BeH2.png");
}

.PBr3 {
  background-image: url("/public/images/1/PBr3.png");
}

.Cl2O {
  background-image: url("/public/images/1/Cl2O.png");
}

.XeF4 {
  background-image: url("/public/images/1/XeF4.png");
}

.CHCl3 {
  background-image: url("/public/images/2/CHCl3.png");
}

.PF5 {
  background-image: url("/public/images/2/PF5.png");
}

.C2HCl {
  background-image: url("/public/images/2/C2HCl.png");
}

.COCl2 {
  background-image: url("/public/images/2/COCl2.png");
}

.CH3Br {
  background-image: url("/public/images/2/CH3Br.png");
}

.CCl2F2 {
  background-image: url("/public/images/2/CCl2F2.png");
}

.SF6 {
  background-image: url("/public/images/3/SF6.png");
}

.CH3OCH3 {
  background-image: url("/public/images/3/CH3OCH3.png");
}

.C6H6 {
  background-image: url("/public/images/3/C6H6.png");
}

.C2H6 {
  background-image: url("/public/images/3/C2H6.png");
}

.HCOOH {
  background-image: url("/public/images/3/HCOOH.png");
}

.CH3COOH {
  background-image: url("/public/images/3/CH3COOH.png");
}

.H2SO4 {
  background-image: url("/public/images/3/H2SO4.png");
}

.CH3CH2OH {
  background-image: url("/public/images/3/CH3CH2OH.png");
}


