.level-bar-container{
    width: 10vh;
    height: 60vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column-reverse;
    align-items: center;
    background-image: url(/public/images/level-bar.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 15vh;
    left: 16vh;
}

/* Esto es el div contenedor con el background */
.level-bar-active-name {
    position: absolute;
    top: -50px;
    left: -10px;
    width: 350px;
    height: 150px;
    background-image: url(../../../../public/images/compound-name.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    color: rgb(230, 222, 207);
    font-size: .9rem;
    font-style: italic;
    text-shadow: 0vw 0.5vw 0.3vw black;
    font-family: 'Old Standard TT', serif;
    display: flex !important;
}

/* Esto es el p que tiene el texto */
.level-bar-active-name p {
    display: flex;
    /* margin: auto; */
    margin: 65px 0 0 95px;
}

.level-bar-container span {
    display: none;
}

.level-bar-container div{
    width: 80%;
    height: 6vh;
    transition: scale 500ms ease;
    scale: 110%;
    margin: auto;
}

.active.gas-colorless{
    background-image: url(/public/images/gas-colorless.webp);
}

.active.gas-yellow{
    background-image: url(/public/images/gas-yellow.webp);
}

.active.liquid-red{
    background-image: url(/public/images/liquid-red.webp);
}

.active.liquid-colorless{
    background-image: url(/public/images/liquid-colorless.webp);
}

.active.liquid-yellow{
    background-image: url(/public/images/liquid-yellow.webp);
}

.active.solid-colorless{
    background-image: url(/public/images/solid-colorless.webp);
}

.reached.reached-gas{
    background-image: url(/public/images/reached-gas.webp);
}

.reached.reached-liquid{
    background-image: url(/public/images/reached-liquid.webp);
}

.reached.reached-solid{
    background-image: url(/public/images/reached-solid.webp);
}

.active {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
    scale: 150% !important;
    animation: 6s float linear infinite;
    z-index: 2;
    position: relative;
}

.active-sparkle {
    background-image: url(/public/giphs/sparkle.webp);
    background-size: 300%;
    background-repeat: no-repeat;
    background-position: center;
}

.reached {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}



@keyframes float {
    0% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(0deg);
    }

    20%{
        transform: rotate(20deg);
    }

    30% {
        transform: rotate(-20deg);
    }

    40% {
        transform: rotate(20deg);
    }

    50% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

