html {
    cursor: url('../../../../public/images/science-cursor.cur'), pointer;
    cursor: url('../../../../public/images/pointer.cur'), pointer;
}

.atom-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.img-black-background {
    position: absolute;
    background-image: url(../../../../public/images/blackbackground.webp);
    height: 100vh;
    width: 100vw;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    right: 0;
    bottom: 0;
}

.looping-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -100;
    filter: brightness(70%) contrast(110%);
}

.looping-video.lost {
    filter: grayscale(100%);
}

video {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.home-container {
    position: relative;
    padding-top: 20px;
}