.looping-video {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

video {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.options {
    right: 5vw;
    top: 5vh;
    position: absolute;
    height: auto;
    width: auto;
    z-index: 999;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.title {
    height: 15vw;
    width: 50vw;
    background-image: url('/public/images/game-name.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.start-game {
    color: rgb(239, 221, 201);
    font-size: 7vh;
    z-index: 1;
    text-decoration: none;
    font-family: 'Abyssinica SIL', serif;
    margin-right: 5vw;
    margin-top: -5vh;
    transition: all 700ms;
    scale: 100%;
}

.start-game:hover {
    scale: 106%;
    text-shadow: 2px 2px 25px rgb(239, 221, 201);
    color: rgb(255, 255, 255);
}

.home-container {
    width: 100%;
    height: 100%;
}
